header {
    background: url(images/dogs-shelter.jpg) 0 -200px no-repeat; 
    background-size:cover; 
    height: 250px; 
    padding-top: 100px;
    padding-left: 100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    display: inline;
    padding: 0 20px;
}
li a:hover {
    color: teal; /* mouseover */
}
li a:link {
    color: #000;
}
li a:visited {
    color: #753a30;
}
li a:active {
    color: #fff;
}
nav {
    background-color: rgb(255, 245, 238);
    height: 50px;
    text-align: center;
    padding-top: 2px;
}
main {
    margin: 50px;
}
main h1 {
    color: teal;
    font-family: arial;
}
footer{
    height: 40px;
    background-color: teal;
    text-align: center;
    padding-top: 20px;
    color:rgb(211, 218, 240);
    }
    .pets-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 90px;
        padding-right: 90px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
   
    .pet img {
        width: 100%;
        height: auto;
        display: block;
    }
    .pet-title {
        background-color: peachpuff;
        color: teal;
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }